body {
    background-color: black
}

.one,
.two,
.three {
    background-color: #fff;
    height: 5px;
    margin: 6px auto;
    transition-duration: 0.3s
}

.menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
            
}

        /* tranformar em x */
        /* rotate - toda em graus
        translate(x, y) - muda eixo x e y */
.menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px)
}

.menu-section.on .menu-toggle .two {
    opacity: 0;
}

.menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -10px);
}